<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theelitedevelopers.paystackwebview">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".ui.PayStackActivity"
            android:exported="true" />
    </application>
</manifest>